{% extends "base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blogApp/styles.css' %}">
{% endblock %}


{% block body %}
<div class="resetpassword-form">
    <h1>Reset Password</h1>
    <hr>

    {% if messages %}
        <div class="messsages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color:red">{{message}}</h4></center>
            {% else %}
            <center><h4 style="color: green">{{message}}</h4></center>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        
    <div class="reset-text">Enter your email to reset your password</div>
    <hr>

<form method="POST">
    {% csrf_token %}
    
    <div class="resetpassword-field">
        <label for="password">Password</label>
        <input type="password" required name="password" id="password">
    </div>
    <div class="resetpassword-field">
        <label for="password">Confirm Password</label>
        <input type="password" required name="confirm_password" id="password">
    </div>
    <button class="resetpassword-btn" type="submit">Reset Password</button>
</form>
<div class="signup-link resetpassword-link">
    <p>Remember your password? <a href="{% url 'loginView' %}">Login</a></p>
</div>
</div>
{% endblock %}